<%= form_with(model: album) do |form| %>
  <% if album.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :artist_external_id, class: 'form-label' %>
    <%= form.select :artist_external_id, artists_select_options, { prompt: "Select an artist" }, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :album_name, class: 'form-label' %>
    <%= form.text_field :album_name, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :year, class: 'form-label' %>
    <%= form.date_field :year, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
